[project]
	description = Different tasks for trainees
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bilychivan
[access "refs/for/refs/*"]
	read = group user/bilychivan
	push = group user/bilychivan
	label-Code-Review = -2..+2 group user/bilychivan
	label-Verified = -1..+1 group user/bilychivan
	rebase = group user/bilychivan
	removeReviewer = group user/bilychivan
	submit = group user/bilychivan
[access "refs/heads/*"]
	read = group user/bilychivan
	create = group user/bilychivan
	push = +force group user/bilychivan
	pushMerge = group user/bilychivan
	label-Verified = -1..+1 group user/voleynik2014
[access "refs/tags/*"]
	push = group user/bilychivan
	push = +force group user/bilychivan
[receive]
	requireSignedOffBy = true
	requireChangeId = true
[submit]
	mergeContent = false
